.item {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px gray;
    width: 90%;
}

.boxbtn {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 15px;
    width: 100%;
}

.remove {
    border-radius: 10px;
}